In [1]:
import pandas as pd
import tensorflow as tf
from tensorflow.keras import preprocessing
from tensorflow.keras.models import Model
from tensorflow.keras.layers import Input, Embedding, Dense, Dropout, Conv1D, GlobalMaxPool1D, concatenate

### 데이터 구조
- query : 발화 내용
- intent
    - 0 : 인사
    - 1 : 욕설
    - 2 : 주문
    - 3 : 예약
    - 4 : 기타

In [2]:
train_file = "total_train_data.csv"
data = pd.read_csv(train_file, delimiter=',')
data.head()

                                 query  intent
0                                  헬로우       0
1                                   헬로       0
2                           안부 인사드립니다.       0
3  먼저 인사하려고 했는데 짝남이 먼저 인사해줬어. 더 떨렸겠어요.       0
4  먼저 인사할까 했는데 짝녀가 먼저 인사해줬어. 기분 좋았겠네요.       0

In [4]:
data.tail()

                                                   query  intent
105653  힘든 연애 좋은 연애라는게 무슨 차이일까? 잘 헤어질 수 있는 사이 여부인 거 같아요.       4
105654                     힘들어서 결혼할까봐 도피성 결혼은 하지 않길 바라요.       4
105655                                                오키       4
105656                                                도키       4
105657                                               ㅋㅋㅋ       4

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105658 entries, 0 to 105657
Data columns (total 2 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   query   105658 non-null  object
 1   intent  105658 non-null  int64
dtypes: int64(1), object(1)
memory usage: 1.6+ MB