In [1]:
import pandas as pd

### 데이터 구조
- query : 발화 내용
- intent
    - 0 : 인사
    - 1 : 욕설
    - 2 : 주문
    - 3 : 예약
    - 4 : 기타

In [2]:
train_file = "total_train_data.csv"
data = pd.read_csv(train_file, delimiter=',')
data.head()

                                 query  intent
0                                  헬로우       0
1                                   헬로       0
2                           안부 인사드립니다.       0
3  먼저 인사하려고 했는데 짝남이 먼저 인사해줬어. 더 떨렸겠어요.       0
4  먼저 인사할까 했는데 짝녀가 먼저 인사해줬어. 기분 좋았겠네요.       0

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105658 entries, 0 to 105657
Data columns (total 2 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   query   105658 non-null  object
 1   intent  105658 non-null  int64
dtypes: int64(1), object(1)
memory usage: 1.6+ MB

In [5]:
data['intent'].value_counts()

3    53086
2    39061
4    11800
1     1590
0      121
Name: intent, dtype: int64